DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=xxxxxxx
DB_NAME=test_runner
DB_SSLMODE=disable
DB_CHANNEL_BINDING=disable
APP_ENV=local
MAX_ALLOWED_CONCURRENCY=10
JWT_SECRET= "JWT_SECRET_KEY"
QSTASH_TOKEN=xxxx
QSTASH_CURRENT_SIGNING_KEY=xxxxx
QSTASH_NEXT_SIGNING_KEY=xxxx
QSTASH_TARGET_URL=https://your-app.vercel.app